{% extends 'base.html' %} {% block head %}
<link rel="stylesheet" type="text/css" href="{{url_for('static' , filename= 'css/main.css')}}"> 
<script type="text/javascript" src="{{url_for('static' , filename= 'main.js')}}"></script>
{% endblock %} {% block content %}
<div class="row margin-top">
    <div class="col-12">
        <form method="POST" name="sentMessage" id="contactForm" novalidate>
            <div class="control-group">
                <div class="form-group floating-label-form-group controls">
                    <input name="name" onfocusout = "save_username()" type="text" class="form-control form-control-lg adjust_input text-center" placeholder="Enter Your Name Here..." id="name" autofocus="" required data-validation-required-message="Please enter your name.">
                    <input name="email" type="text" class="form-control form-control-lg adjust_input text-center" placeholder="Enter Your Email Here..." id="email" autofocus="" required data-validation-required-message="Please enter your email.">
                    <div class="form-group">
                        <a href="{{url_for('riddle_game')}}"><button type="submit" class="btn btn-primary btn-lg btn-block" id="sendMessageButton">Send</button></a>
                    </div>
        </form>
        </div>
        </div>
    </div>
</div>
<script>
    
    // document.getElementById("name").onfocusout = save_username();
    


</script>

<!----------------python script for alert message for signup-->
<div class="row">
    {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
    <h2> {{message}} </h2>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Success</strong> {{message}}.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
    </div>
    <script>
        window.location.href = "{{url_for('riddle_game')}}" + "?username=" + localStorage.getItem("username");
    </script>
    {% endfor %} {% endif %} {% endwith %}
</div>
<div id="data"></div>
{% endblock %}

<!----non-use code if not need delete this!>
<!--       var request = new XMLHttpRequest();-->
<!--request.open('GET', "https://a1cf5fddf9204e8c8bced47b6ad6c607.vfs.cloud9.us-east-1.amazonaws.com/get_riddle_api");-->
<!--request.responseType = 'text';-->

<!--request.onload = function() {-->
<!--  poemDisplay.textContent = request.response;-->
<!--};-->

<!--request.send();-->