{% extends 'base.html' %} {% block content %}
<h1>page 2 leaderboard</h1>
<div class="row margin-top">
    <!--the leaderboard------------->
</div>

<div id="incorrect-answers-table" class="collapsed collapse show" data-parent="#accordion" style="">
    <table class="table table-dark title text-center">
        <thead>
            <tr>
                <th scope="col">PLAYER NAME</th>
                <th scope="col">SCORE</th>
            </tr>
        </thead>
        <tbody>
            {% for i in range(user_score|length )|reverse %}
            <tr>
                <td scope="row">{{userlist[i]}}</td>
                    <td>{{user_score[i]}}</td>
            </tr>
            {% endfor %}
        </tbody is="table-body">
    </table>
</div>

{% endblock %}
