{% extends 'base.html' %} {% block head %}
<link rel="stylesheet" type="text/css" href="{{url_for('static' , filename= 'css/main.css')}}"> {% endblock %} {% block content %}
<div class="row margin-top">
    <div class="col-12">
        <!--<form method="POST" name="sentMessage" id="contactForm" novalidate>-->
            <div class="control-group">
                <div class="form-group floating-label-form-group controls">
                    <h2 class="display-4 mb-5 instruction-card font-hind" id="current-riddle">Get Ready...</h2>
                    <input name="name" type="text" class="form-control form-control-lg adjust_input text-center" placeholder="Submit Your Answer Here..." id="name1" autofocus="" required data-validation-required-message="Please enter your name.">
                    <!--<p class="help-block text-danger"></p>-->
                    <div class="form-group">
                        <button type="submit" onclick = "check_answer()" class="btn btn-primary btn-lg btn-block" id="sendMessageButton">PLAY</button>


                    </div>
                    <button type="submit" class="btn btn-danger btn-lg btn-block" id="sendMessageButton">GIVE ME A HINT</button>

                </div>
        <!--</form>-->

        </div>
    </div>
</div>
<script type="text/javascript">

    function get_question(){
        var xhr = new XMLHttpRequest();

    xhr.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            var riddle_question = this.responseText
            console.log(typeof(riddle_question))
            document.getElementById("current-riddle").innerHTML = riddle_question;
        }
    };

    xhr.open("GET", "https://a1cf5fddf9204e8c8bced47b6ad6c607.vfs.cloud9.us-east-1.amazonaws.com/get_riddle_api");
    // xhr.open("GET", "https://a1cf5fddf9204e8c8bced47b6ad6c607.vfs.cloud9.us-east-1.amazonaws.com/get_answer_api");
    xhr.send();
    }
    get_question();
     score = 0
    function check_answer() {
        var xhr = new XMLHttpRequest();
        var question = document.getElementById("current-riddle").innerHTML
        var answer = document.getElementById("name1").value
        xhr.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                alert("with this" + this.responseText + "find this");
                if (this.responseText.toLowerCase().replace("\n", "") == "true"){
                    alert("correct")
                    score += 1
                    $("#name1").val("");
                    get_question();
                } 
                else {
                    alert("You lost the game");
                    alert(score);
                }
                
                // document.getElementById("current-riddle").innerHTML = this.responseText;
            }
        };

        xhr.open("GET", "{{url_for('get_answer_api')}}" + "?question=" + question + "&answer=" + answer);
        xhr.send();
    }
</script>



{% endblock %}
