{% extends 'base.html' %} {% block head %}
<link rel="stylesheet" type="text/css" href="{{url_for('static' , filename= 'css/main.css')}}"> {% endblock %} {% block content %}
<div class="row margin-top">
    <div class="col-12">
        <form method="POST" name="sentMessage" id="contactForm" novalidate>
            <div class="control-group">
                <div class="form-group floating-label-form-group controls">
                    <h2 class="display-4 mb-5 instruction-card font-hind" id="current-riddle">Get Ready...</h2>
                    <input name="name" type="text" class="form-control form-control-lg adjust_input text-center" placeholder="Submit Your Answer Here..." id="name" autofocus="" required data-validation-required-message="Please enter your name.">
                    <!--<p class="help-block text-danger"></p>-->
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-lg btn-block" id="sendMessageButton">PLAY</button>
                        
                       
                    </div>
                        <button type="submit" class="btn btn-danger btn-lg btn-block" id="sendMessageButton">GIVE ME A HINT</button>

                </div>
        </form>

        </div>
    </div>
</div>



{% endblock %}
